/* ibm-plex-sans-regular - latin */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/ibm-plex-sans-v14-latin/ibm-plex-sans-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/ibm-plex-sans-v14-latin/ibm-plex-sans-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/ibm-plex-sans-v14-latin/ibm-plex-sans-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/ibm-plex-sans-v14-latin/ibm-plex-sans-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/ibm-plex-sans-v14-latin/ibm-plex-sans-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/ibm-plex-sans-v14-latin/ibm-plex-sans-v14-latin-regular.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}

/* holtwood-one-sc-regular - latin */
@font-face {
    font-family: 'Holtwood One SC';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/holtwood-one-sc-v16-latin/holtwood-one-sc-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/holtwood-one-sc-v16-latin/holtwood-one-sc-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/holtwood-one-sc-v16-latin/holtwood-one-sc-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/holtwood-one-sc-v16-latin/holtwood-one-sc-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/holtwood-one-sc-v16-latin/holtwood-one-sc-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/holtwood-one-sc-v16-latin/holtwood-one-sc-v16-latin-regular.svg#HoltwoodOneSC') format('svg'); /* Legacy iOS */
}

/* goldman-regular - latin */
@font-face {
    font-family: 'Goldman';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/goldman-v15-latin/goldman-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/goldman-v15-latin/goldman-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/goldman-v15-latin/goldman-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/goldman-v15-latin/goldman-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/goldman-v15-latin/goldman-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/goldman-v15-latin/goldman-v15-latin-regular.svg#Goldman') format('svg'); /* Legacy iOS */
}

/* dm-serif-text-regular - latin */
@font-face {
    font-family: 'DM Serif Text';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/dm-serif-text-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/dm-serif-text-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/dm-serif-text-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/dm-serif-text-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/dm-serif-text-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/dm-serif-text-v10-latin-regular.svg#DMSerifText') format('svg'); /* Legacy iOS */
  }

.nav-brand{
    color:#FFCEFF !important;
    text-decoration:none;
    font-family: 'DM Serif Text';
    font-size: 1.5rem;
    letter-spacing:0.3vw;
    margin-left:1vw;
}

.nav-item .nav-link{
    color:#FFCEFF !important;
    font-size:1.25rem;
    font-family: 'DM Serif Text';
    margin-right:0.7vw;
    margin-left:3vw;
}

.smile_outline{
    height:4vw;
    width:4vw;
    margin-left:1.5vw;
    opacity:0.14;
}

.smile_outline_1{
    height:4vw;
    width:4vw;
    opacity:0.14;
}

.welcome_background{
    background: rgba(226, 175, 255, 0.9);
    margin-top:6vw;
    border:1.5vw solid white;
}

.welcome{
    position:absolute;
    left: 40vw;;
    top: 18.7vw;
    width: 555px;
    height: 200px;
    z-index: 2;
} 

.welcome_title{
    color:white;
    font-family: 'Holtwood One SC';
    font-size:3rem;
}

.intro_slogan{
    color:white;
    font-family: 'IBM Plex Sans';
    margin-right:0.75vw;
    font-size:1.5rem;
}

.smile_outline_2{
    height:2vw;
    width:2vw;
    margin-left:1.5vw;
    opacity:0.12;
}

.scroll_banner{
    background: rgba(184, 242, 230, 1);
    height:17vw;
    border:1.5vw solid white;
}

.scroll_slogan{
    font-size:2rem;
    color:black;
    margin-left:1vw;
    font-family: 'DM Serif Text';
}

.arrow{
    height:6vw;
    align-items:center;
    justify-content:center;
}

.work_title{
    font-size:2rem;
    font-family: 'DM Serif Text';
    color:black;
    font-weight:bold;
}

.col-lg-6 {
    background-color:#FF5A5F;
    border:1.75vw solid white;
}

.persona_phone_image{
    width:40vw;
    margin-left:2vw !important;
}

.persona_col{
    background-color:#FF5A5F;
}

.iterative_col{
    background-color:#f79d65;
}

.iterative_phone_image{
    width:40vw;
}

.redesign_col{
    background-color:#ffffad;
}

.redesign_col:hover{
    background-color:#FFD500;
}
.development_col{
    background-color:#c7f9cc
}

.development_col:hover{
    background-color:#CCFF33;
}


.col_title{
    font-family: 'Goldman';
    color:black;
    font-size:1.75rem;
    font-weight:bold;
}

.persona_col:hover{
    background-color:#ff220c;
}

.iterative_col:hover{
    background-color:#FF6000;
}

.about_title{
    font-family: 'DM Serif Text';
    color:black;
    font-size:2rem;
    font-weight:bold;
}

p{
    font-size:1.5rem;
    font-family: 'DM Serif Text';
    margin-left:1vw;
    width:70vw;
}

.about_divider{
    background: rgba(184, 242, 230);
    border:1.5vw solid white;
    
}

.smile_outline_2{
    opacity:0.16;
    height:3vw;
    width:3vw;
}

.elephant_image{
    height:9vw;
    width:9wv;
}

.phone_image{
    width:40vw;
    height:20vw;
    margin-left:3vw;
}


.phone_image:hover{
    transform: scale(1.05);
}


.phone_image_1{
    width:45vw;
    height:20vw;
    margin-left:3vw;
}

.phone_image_1:hover{
    transform: scale(1.05);
}

.phone_image_2{
    width:40vw;
    height:20vw;
    margin-left:3vw;
}


.phone_image_2:hover{
    transform: scale(1.05);
}

.phone_image_3{
    width:43vw;
    height:20vw;
    margin-left:1.7vw;
}

.phone_image_3:hover{
    transform: scale(1.05);
}

